
Client/Library/AnnotationManager
Client/Library/assetDatabase3
Client/Library/AssetImportState
Client/Library/AssetVersioning.db
Client/Library/CurrentLayout.dwlt
Client/Library/CurrentLayout.dwlt
Client/Library/expandedItems
Client/Library/metadata/28/28e9ce3a81ef9354fa3a5421874ff65f
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Client/Library/CurrentLayout.dwlt
Client/Library/CurrentLayout.dwlt
Client/Library/expandedItems
Client/Library/metadata/28/28e9ce3a81ef9354fa3a5421874ff65f
Client/Library/ScriptAssemblies/Assembly-CSharp.dll
Server/.idea/workspace.xml
Server/.idea/workspace.xml
Server/.idea/workspace.xml
Server/.idea/workspace.xml
Server/.idea/workspace.xml
Server/.idea/workspace.xml
Client/Assembly-CSharp.csproj
Client/.idea/
Client/Library/
Client/Temp/UnityTempFile-0b3fc93065a24e14a9261be0ee96e227
Client/Temp/

*/.idea/
Server/pkg/mod/cache/
Server/pkg/mod/
Server/pkg/windows_amd64/
*/__pycache__/
*/__pycache__/*
*/*/__pycache__/
Server/src/server/vendor/
*/Logs/
Client/obj/
Server/pkg/
